name: JSON Syntax Check

on:
  push:
    paths:
      - '**/*.json'
  pull_request:
    paths:
      - '**/*.json'

jobs:
  json_check:
    name: Validate JSON files
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # JSON syntax validation
      - name: Check JSON syntax
        uses: limitusus/json-syntax-check@v1
        with:
          pattern: "**/*.json"

